.registerform{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   /* border:black solid 2px; */
    margin: 5%;
    padding: 5%;
    
}

input{
    
    width: 300px;
    height: 40px;
    margin: 5px;
    margin-bottom: 9px;
   border-radius: 20px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

button{
    color:black;
     border:none;
    width: 100px;
    margin-left: 100px;
    height: 30px;
    border-radius: 5px;
}

.vl {
    border-left: 3px solid #CFAB69;
    height: 350px;
    left: 50%;
    margin-left: -3px;
    
  }

/* .signupform{
   border:black solid 5px;
}

.loginform{
    border:black solid 5px;
 } */