tr {
  border-bottom: 1px solid rgb(31, 29, 29);
}

table {
    margin-top: 2%;
    table-layout: fixed;
    width: 800px;
}
.nnn{
  width: 300px;
  height: 40px;
  margin: 5px;
  margin-bottom: 9px;
  border-radius: 20px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.inputBox {
  display: flex;
  flex-direction: column;
}
.addingPage {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.rowsBtn{
    background:  none;
}

.test{
    display: flex;
    flex-wrap: wrap;
}

.editInput{
  display: flex;
  flex-direction: row;
}

.icons{
  width: 15px;
  margin-left: 140px;
  height: 15px;
}