.searchBar {
  width: 200px;
  box-shadow: none;
}

/* .clinic-map-container{

} */

.homeSidebar {

  position: absolute;
}

.pro-sidebar {
    color: #F8F9FA;
  width: 400px;
  margin: 10px;
}

/* .timePicker{
} */
.react-datetime-picker__wrapper{
  width: auto;

}
