
.pro-sidebar > .pro-sidebar-inner{
    
    background-color: #f3f4f5;
    width: 300px;
    
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background-color: rgb(88, 88, 88);
    border-radius: 50px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
    width: auto;
}

.sidebar{
    margin: 2%;
   
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item{
    background-color: rgb(88, 88, 88);
    
}
